<p>quienes-somos works!</p>

<div class="btn-group">
    <input type="button" name="boton" class="btn btn-secondary" value="Get" (click)="this.servicio.get3(inputIdGet)">

    <input type="text" placeholder="Introduce ID" [(ngModel)]="inputIdGet">
    <input type="button" name="boton" class="btn btn-secondary" value="Get" (click)="this.servicio.get3(inputIdGet)">
    <input type="button" name="boton" class="btn btn-secondary" value="Post" (click)="this.servicio.post()">
    <input type="button" name="boton" class="btn btn-secondary" value="Put" (click)="this.servicio.put()">
    <input type="button" name="boton" class="btn btn-secondary" value="Patch" (click)="this.servicio.patch()">
    <input type="button" name="boton" class="btn btn-danger" value="Delete" (click)="this.servicio.delete()">

</div>

<pre>
    {{this.servicio.resultadoPeticion | json}}
</pre>