<p>quienes-somos works!</p>

<div class="btn-group">
    <input type="button" name="boton" class="btn btn-secondary" value="Get" (click)="get3()">

    <input type="text" placeholder="Introduce ID" [(ngModel)]="inputIdGet">
    <input type="button" name="boton" class="btn btn-secondary" value="Get" (click)="get3()">
    <input type="button" name="boton" class="btn btn-secondary" value="Post" (click)="post()">
    <input type="button" name="boton" class="btn btn-secondary" value="Put" (click)="put()">
    <input type="button" name="boton" class="btn btn-secondary" value="Patch" (click)="patch()">
    <input type="button" name="boton" class="btn btn-danger" value="Delete" (click)="delete()">

</div>

<pre>
    {{this.resultadoPeticion | json}}
</pre>